.idea/*
overlays/*
*.iml
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
/kuaisuadmin/
/docker/apps/
.DS_Store
/target/
/node/
/node_modules/
/.settings
/.project
/.classpath
/bin/
/.idea/
